<title>Sasha Kuznetsov</title>
<link rel="icon" href="/assets/img/favicon.png">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=5.0">
<link type="text/css" rel="stylesheet" href="/css/main.css">

<meta property="og:image" content="https://skz.dev/assets/img/preview-banner.png">
<meta property="og:image:width" content="1200" /><meta property="og:image:height" content="600" />
<meta property="og:title" content="Sasha Kuznetsov">
<meta property="og:description" content="Personal site of Sasha Kuznetsov - software engineer, physicist, and hacker.">
<meta name="description" content="Personal site of Sasha Kuznetsov - software engineer, physicist, and hacker.">
<meta property="og:description" content="Personal site of Sasha Kuznetsov - software engineer, physicist, and hacker.">
<meta name="twitter:description" content="Personal site of Sasha Kuznetsov - software engineer, physicist, and hacker.">